@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100px;
  height: auto;
}

/* VARIABLES */
:root {
  /*  FONTS */
  --FF: "Inter", sans-serif;
  --FS: 1rem;
  --FS-PARAGRAPH: 14px;

  /* COLORS */
  --BGCOLOR: hsl(0, 0%, 8%);
  --CARD-BGCOLOR: hsl(0, 0%, 20%);
  --TEXT-COLOR: hsl(0, 0%, 100%);
  --HOVER-ACTIVE-COLOR: hsl(75, 94%, 57%);
  --BUTTON-COLOR: hsl(0, 0%, 12%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BGCOLOR);
  font-family: var(--FF);
  font-size: var(--FS);
}

.hero {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  background-color: var(--CARD-BGCOLOR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 5px;
}

.profile-picture img {
  align-items: center;
  border-radius: 50%;
  padding-bottom: 1rem;
}

.text h2 {
  text-align: center;
  color: var(--TEXT-COLOR);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

.text h4 {
  text-align: center;
  color: var(--HOVER-ACTIVE-COLOR);
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.text p {
  text-align: center;
  color: var(--TEXT-COLOR);
  padding-bottom: 2rem;
}

.yoo button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 20px 100px;
}

button {
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: var(--BUTTON-COLOR);
  color: var(--TEXT-COLOR);
  font-size: 14px;
  outline: none;
}

button a {
  color: var(--TEXT-COLOR);
  text-decoration: none;
  font-weight: 700;
}

button:hover,
button:active {
  background-color: var(--HOVER-ACTIVE-COLOR);
}

a:hover,
a:active {
  color: black;
}

@media screen and (min-width: 375px) {
  .card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
